<ul>
  <li *ngFor="let hobbit of lista">
    {{hobbit.nombre}} {{hobbit.apellidos}}
  </li>
</ul>
<!--
<button *ngIf="!mostrarForm" (click)="Form()">
  Mostrar formulario
</button>

<button *ngIf="mostrarForm" (click)="Form()">
  Ocultar formulario
</button>


<form [hidden]="!mostrarForm" #hobbitForm="ngForm" (ngSubmit)="AMohobbit(hobbitForm)">
  <h3>Formulario.</h3>
<div>
  <label>Introduce el nombre: </label>
  <input type="text" required [(ngModel)]="hobbit.nombre" name="nombre" #nombre="ngModel" placeholder="Nombre">
  <div [hidden]="nombre.valid || nombre.pristine" style="color:red">
    El nombre es obligatorio.
  </div>
</div>
<br>
<div>
  <label>Introduce los apellidos: </label>
  <input type="text" required [(ngModel)]="hobbit.apellidos" name="apellidos" #apellidos="ngModel" placeholder="Apellidos">
  <div [hidden]="apellidos.valid || apellidos.pristine" style="color:red">
    Los apellidos son obligatorios.
  </div>
</div>
<br>
<div>
  <label>Introduce la fecha de nacimiento: </label>
  <input type="date" required [(ngModel)]="fechaStr" name="fechaNacimiento" #fechaNacimiento="ngModel">
  <div [hidden]="fechaNacimiento.valid || fechaNacimiento.pristine" style="color:red">
    La fecha de nacimiento es obligatoria.
  </div>
</div>
<br>
<div>
  <label>Introduce la estatura: </label>
  <input type="number" required [(ngModel)]="hobbit.estatura" name="estatura" #estatura="ngModel" placeholder="cm">
  <div [hidden]="estatura.valid || estatura.pristine" style="color:red">
    La estatura es obligatoria.
  </div>
</div>
<br>
<div>
  <button type="submit" [disabled]="hobbitForm.invalid">
    {{accion.nombre}} hobbit
  </button>
</div>

</form>
-->
<br>
<div>
  <button routerLink="/hobbit-addMod/-1">Nuevo Hobbit</button>
</div>

<h4>Forma 1</h4>
@if (lista.length > 0){
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Fecha de Nacimiento</th>
      <th>Estatura (cm)</th>
      <th>Edad</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    @for (hobbit of lista; track $index){
      <tr>
      <td>{{ hobbit.nombre }}</td>
      <td>{{ hobbit.apellidos }}</td>
      <td>{{ hobbit.fechaNacimiento | date }}</td>
      <td>{{ hobbit.estatura }}</td>
      <td>{{ calculoEdad(hobbit.fechaNacimiento) | number: '1.0-0' }}</td>
      <td>
        <!-- <button (click)="editHobbit(hobbit, $index)">Editar</button>-->
        <button (click)="delHobbit(hobbit)">Eliminar</button>
        <button routerLink="/hobbit-addMod/{{$index}}">Editar</button>
      </td>
    </tr>
    }
  </tbody>
</table>
}@else{
  <div>
    <b>No hay hobbits en la comarca</b>
  </div>
}