div#paginacion{
    padding: 1em;
    border: 1px solid #808080;
    background-color: #C0C0C0;
    overflow: hidden;
}
#paginacion .derecha{
    float: right;
    clear: right;
}
#paginacion .izquierda{
    float: left;
}
.clear{
    clear: both;
}
