a{
    color: #CC0000;
    display: block;
    width: 110px;
    margin-top: 10px;
}

a:hover{
    color: #FFF;
    background-color: #CC0000;
    text-decoration: none;
}
a:visited{
    color: #CCC;
}