ul {
  list-style: none;
  margin: 0; padding: 0;
  display: flex;
  background: rgb(47, 255, 203);
}

ul li {
  position: relative;
}

ul li a {
  display: block;
  padding: 10px 15px;
  color: rgb(253, 253, 253);
  text-decoration: none;
  font-weight: bold;
}

ul li:hover > a {
  background: rgb(34, 112, 86);
}

ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgb(63, 205, 94);
  flex-direction: row;
  min-width: 150px;
}

ul li:hover > ul {
  display: flex;
}

ul li ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: row;
  background: rgb(47, 255, 158);
  min-width: 150px;
}

ul li ul li:hover > ul {
  display: flex;
}

ul li ul li ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: row; 
  background: rgb(103, 233, 168);
  min-width: auto;
}

ul li ul li ul li:hover > ul {
  display: flex;
}

ul li ul li a {
  padding: 8px 12px;
  background: rgb(47, 255, 168);
}

ul li ul li a:hover {
  background: rgb(47, 255, 168);
}

ul li ul li ul li a:nth-child(4) a:hover{
    background-color: rgb(122, 172, 122);
}