ul{
    list-style: none;
    margin: 0;
    width: auto;
    padding: 0;
    overflow: hidden; /*Contiene los floats*/   
}
ul li{
    display: inline; /*muestra los li en linea*/
}

ul li a{
    float: left; /* Los enlaces flotan a la izquierda */
    display: block; /* Para que ocupen todo el espacio del li */
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    border-right: 3px solid white;
    color: rgb(0, 0, 0);
    background-color: rgb(214, 250, 222);
}

ul li a:hover{
    background-color: #3be760;
    color: white;
}
