div h2{
    color: brown;
    text-align: center;
    background-color: rgb(236, 175, 175);
    padding: 8px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
